<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Handle PHP files via FastCGI for GET, POST, HEAD requests -->
      <add name="PHP-FastCGI" path="*.php" verb="GET,POST,HEAD" modules="FastCgiModule" scriptProcessor="D:\home\site\wwwroot\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Ensure all PHP files are executed -->
        <rule name="PHP" stopProcessing="true">
          <match url=".*\.php$" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
